<% include ../partials/header.ejs%>

	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="home-tab" data-toggle="tab" href="#comps" role="tab" aria-controls="home" aria-selected="true" style="font-size: 3em;">Competitions</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="profile-tab" data-toggle="tab" href="#results" role="tab" aria-controls="profile" aria-selected="false" style="font-size: 3em;">Official Results</a>
		</li>
	</ul>
	<div class="tab-content" id="myTabContent">
		<div class="tab-pane fade show active" id="comps" role="tabpanel" aria-labelledby="home-tab">
			<table class="default-table">
				<thead>
					<tr>
						<th>Competition</th>
						<th>Location</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="#">Californa's Racing VII</a></td>
						<td>1276 California Dr, California, CA, 25638</td>
						<td>January 26th, 2018</td>
					</tr>
					<tr>
						<td><a href="#">Speeding Guns</a></td>
						<td>1336 Charter Oak Dr, Crane, TX, 79731</td>
						<td>February 3rd, 2018</td>
					</tr>
					<tr>
						<td><a href="#">Golden Plane Competition</a></td>
						<td>3040 Joyce Way, Golden, CO, 80401</td>
						<td>February 5th, 2018</td>
					</tr>
					<tr>
						<td><a href="#">Sleeping Motors II</a></td>
						<td>1733 Saddler Dr, Bedford, IN, 47421</td>
						<td>February 20th, 2018</td>
					</tr>
					<tr>
						<td><a href="#">Spring Comps</a></td>
						<td>8512 Westmoreland Lake Dr, Cornelius, NC, 28031</td>
						<td>March 21st,22nd, 23rd and 24th, 2018</td>
					</tr>
					<tr>
						<td><a href="#">Aligator's XVIII</a></td>
						<td>1514 Robin St, Auburndale, FL, 33823</td>
						<td>April 11th, 2018</td>
					</tr>
					<tr>
						<td><a href="#">Michigan's State Championship</a></td>
						<td>5844 Menclaw Road, Chesterville, MI, 58654</td>
						<td>May 2nd, 3rd and 4th, 2018</td>
					</tr>
					<tr>
						<td><a href="#">Clement Competition</a></td>
						<td>4624 Seasoned Avenue, Clement, NY, 46258</td>
						<td>May 28th, 2018</td>
					</tr>
					<tr>
						<td><a href="#">Mechno Sprint Circuit</a></td>
						<td>3277 Marsco Dr, Mechno, CO, 84628</td>
						<td>June 22nd and 23rd, 2018</td>
					</tr>
					<tr>
						<td><a href="#">US Aeromodelism Nationals</a></td>
						<td>2366 Residencial Village (Small Massachusetts Airport), Blover, MA, 45267</td>
						<td>January 26th, 2018</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="tab-pane fade" id="results" role="tabpanel" aria-labelledby="profile-tab">
			<table class="default-table">
				<thead>
					<tr>
						<th>Competition</th>
						<th>Date</th>
						<th>Results</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Cloverville Area Competition</td>
						<td>December 8th, 9th and 10th, 2017</td>
						<td><a href="#">See Results</a></td>
					</tr>
					<tr>
						<td>Classic Planes Racing Comp</td>
						<td>November 23rd and 24th, 2017</td>
						<td><a href="#">See Results</a></td>
					</tr>
					<tr>
						<td>Air Masters XII</td>
						<td>November 2nd, 2017</td>
						<td><a href="#">See Results</a></td>
					</tr>
					<tr>
						<td>Crazy Circuit</td>
						<td>October 18th and 19th, 2017</td>
						<td><a href="#">See Results</a></td>
					</tr>
					<tr>
						<td>October's Racing Competition</td>
						<td>October 5th, 6th, 7th and 8th, 2017</td>
						<td><a href="#">See Results</a></td>
					</tr>
					<tr>
						<td>Air Masters Warm-Up</td>
						<td>September 22nd, 2017</td>
						<td><a href="#">See Results</a></td>
					</tr>
					<tr>
						<td>US Nationals Warm-Up</td>
						<td>August 12th and 13th, 2017</td>
						<td><a href="#">See Results</a></td>
					</tr>
					<tr>
						<td>Monster Planes Circuit</td>
						<td>August 10th, 2017</td>
						<td><a href="#">See Results</a></td>
					</tr>
					<tr>
						<td>California's State Championship</td>
						<td>July 23rd and 24th, 2017</td>
						<td><a href="#">See Results</a></td>
					</tr>
					<tr>
						<td>Montvillage Mountains Circuit</td>
						<td>June 2nd, 3rd, 4th and 5th, 2017</td>
						<td><a href="#">See Results</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

<% include ../partials/footer.ejs%>