<% include ./partials/header.ejs %>

	<div class="row img-row">
		<div class="col-md-6 img-txt img1">
			<div class="top-txt txt-img">
				<p class="txt-img-desc h6 lead"><a href="#">Read More</a><br>1930's Plane Project is close to an end!</p>
				<p class="txt-img-title h3">Update</p>
			</div>
		</div>
		<div class="col-md-6 img-txt img6">
			<div class="top-txt txt-img">
				<p class="txt-img-desc h6 lead"><a href="#">Read More</a><br>Speed World Record was broken at California's Competition.</p>
				<p class="txt-img-title h3">New Record!</p>
			</div>
		</div>
	</div>
	<div class="row img-row">
		<div class="col-md-4 img-txt img2">
			<div class="bottom-txt txt-img">	
				<p class="txt-img-title h3">Tips and Tricks</p>
				<p class="txt-img-desc h6 lead">See our Pro Team Tips and some Tricks to master in Aeromodelism<br><a href="/tipsAndTricks">Tips and Tricks</a></p>
			</div>
		</div>
		<div class="col-md-4 img-txt img4">
			<div class="bottom-txt txt-img">	
				<p class="txt-img-title h3">Results</p>
				<p class="txt-img-desc h6 lead">See the Official Results of the latest competitions<br><a href="/events">See Results</a></p>
			</div>
		</div>
		<div class="col-md-4 img-txt img5">
			<div class="bottom-txt txt-img">	
				<p class="txt-img-title h3">Upcoming Events</p>
				<p class="txt-img-desc h6 lead">Ready to compete? Browse some future events<br><a href="/events">Events</a></p>
			</div>
		</div>
	</div>
	<div class="row posts-row">
		<div class="col-md-4 author-info">
			<img class="author-img" src="img/plane-3.jpg">
			<div class="author-desc">
				<p class="author-name"><a href="#">Jack Monty</a></p>
				<p class="post-date">September 2nd, 2018</p>
			</div>
		</div>
		<div class="col-md-8 posts">
			<div class="post-title display-4"><a href="#">How to choose your first plane?</a></div>
			<div class="post-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
		</div>
	</div>
	<div class="row posts-row">
		<div class="col-md-4 author-info">
			<img class="author-img" src="img/plane-5.jpg">
			<div class="author-desc">
				<p class="author-name"><a href="#">Robert Lorer</a></p>
				<p class="post-date">August 28th, 2017</p>
			</div>
		</div>
		<div class="col-md-8 posts">
			<div class="post-title display-4"><a href="#">SkyWings Pro Team place 2nd in the US Nationals</a></div>
			<div class="post-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
		</div>
	</div>
	<div class="row posts-row">
		<div class="col-md-4 author-info">
			<img class="author-img" src="img/plane-2.jpg">
			<div class="author-desc">
				<p class="author-name"><a href="#">Laura Mandy</a></p>
				<p class="post-date">August 20th, 2017</p>
			</div>
		</div>
		<div class="col-md-8 posts">
			<div class="post-title display-4"><a href="#">Get to know the New Official Rules to compete next year</a></div>
			<div class="post-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
		</div>
	</div>
	<div class="row posts-row">
		<div class="col-md-4 author-info">
			<img class="author-img" src="img/plane-5.jpg">
			<div class="author-desc">
				<p class="author-name"><a href="#">Robert Lorer</a></p>
				<p class="post-date">August 8th, 2017</p>
			</div>
		</div>
		<div class="col-md-8 posts">
			<div class="post-title display-4"><a href="#">Colorado's Competition Analysis</a></div>
			<div class="post-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
		</div>
	</div>
<% include ./partials/footer.ejs %>