<% include ../partials/header.ejs %>

	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="home-tab" data-toggle="tab" href="#recent" role="tab" aria-controls="home" aria-selected="true" style="font-size: 3em;">Recent Posts</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="profile-tab" data-toggle="tab" href="#popular" role="tab" aria-controls="profile" aria-selected="false" style="font-size: 3em;">Popular Posts</a>
		</li>
	</ul>
	<div class="tab-content" id="myTabContent">
		<div class="tab-pane fade show active" id="recent" role="tabpanel" aria-labelledby="home-tab">
			<div class="row posts-row">
				<div class="col-md-4 author-info">
					<img class="author-img" src="img/plane-3.jpg">
					<div class="author-desc">
						<p class="author-name"><a href="#">Jack Monty</a></p>
						<p class="post-date">September 2nd, 2018</p>
					</div>
				</div>
				<div class="col-md-8 posts">
					<div class="post-title display-4"><a href="#">How to choose your first plane?</a></div>
					<div class="post-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
				</div>
			</div>
			<div class="row posts-row">
				<div class="col-md-4 author-info">
					<img class="author-img" src="img/plane-5.jpg">
					<div class="author-desc">
						<p class="author-name"><a href="#">Robert Lorer</a></p>
						<p class="post-date">August 28th, 2017</p>
					</div>
				</div>
				<div class="col-md-8 posts">
					<div class="post-title display-4"><a href="#">SkyWings Pro Team place 2nd in the US Nationals</a></div>
					<div class="post-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
				</div>
			</div>
			<div class="row posts-row">
					<div class="col-md-4 author-info">
						<img class="author-img" src="img/plane-2.jpg">
						<div class="author-desc">
							<p class="author-name"><a href="#">Laura Mandy</a></p>
							<p class="post-date">August 20th, 2017</p>
						</div>
					</div>
					<div class="col-md-8 posts">
						<div class="post-title display-4"><a href="#">Get to know the New Official Rules to compete next year</a></div>
						<div class="post-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
					</div>
			</div>
			<div class="row posts-row">
				<div class="col-md-4 author-info">
					<img class="author-img" src="img/plane-5.jpg">
					<div class="author-desc">
						<p class="author-name"><a href="#">Robert Lorer</a></p>
						<p class="post-date">August 8th, 2017</p>
					</div>
				</div>
				<div class="col-md-8 posts">
					<div class="post-title display-4"><a href="#">Colorado's Competition Analysis</a></div>
					<div class="post-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="popular" role="tabpanel" aria-labelledby="profile-tab">
			<div class="row posts-row">
				<div class="col-md-4 author-info">
					<img class="author-img" src="img/plane-5.jpg">
					<div class="author-desc">
						<p class="author-name"><a href="#">Robert Lorer</a></p>
						<p class="post-date">August 28th, 2017</p>
					</div>
				</div>
				<div class="col-md-8 posts">
					<div class="post-title display-4"><a href="#">SkyWings Pro Team place 2nd in the US Nationals</a></div>
					<div class="post-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
				</div>
			</div>
			<div class="row posts-row">
				<div class="col-md-4 author-info">
					<img class="author-img" src="img/plane-3.jpg">
					<div class="author-desc">
						<p class="author-name"><a href="#">Jack Monty</a></p>
						<p class="post-date">September 2nd, 2018</p>
					</div>
				</div>
				<div class="col-md-8 posts">
					<div class="post-title display-4"><a href="#">How to choose your first plane?</a></div>
					<div class="post-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
				</div>
			</div>
			<div class="row posts-row">
				<div class="col-md-4 author-info">
					<img class="author-img" src="img/plane-5.jpg">
					<div class="author-desc">
						<p class="author-name"><a href="#">Robert Lorer</a></p>
						<p class="post-date">August 8th, 2017</p>
					</div>
				</div>
				<div class="col-md-8 posts">
					<div class="post-title display-4"><a href="#">Colorado's Competition Analysis</a></div>
					<div class="post-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
				</div>
			</div>
			<div class="row posts-row">
					<div class="col-md-4 author-info">
						<img class="author-img" src="img/plane-2.jpg">
						<div class="author-desc">
							<p class="author-name"><a href="#">Laura Mandy</a></p>
							<p class="post-date">August 20th, 2017</p>
						</div>
					</div>
					<div class="col-md-8 posts">
						<div class="post-title display-4"><a href="#">Get to know the New Official Rules to compete next year</a></div>
						<div class="post-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
					</div>
			</div>
		</div>
	</div>

<% include ../partials/footer.ejs %>