<% include ../partials/header.ejs %>

	<div class="row">
		<div class="col-md-12">
			<div class="tips-img">
				<p class="display-1 tips-txt">Tips And Tricks
				<br>
				<spam class="lead">By SkyWings Pro Team</spam></p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 tricks-txt">
			<p class="display-4">Trick #1</p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
		</div>
		<div class="col-md-4 tricks-img"></div>
	</div>
	<div class="row">
		<div class="col-md-8 tricks-txt">
			<p class="display-4">Trick #2</p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
		</div>
		<div class="col-md-4 tricks-img"></div>
	</div>
	<div class="row">
		<div class="col-md-8 tricks-txt">
			<p class="display-4">Trick #3</p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
		</div>
		<div class="col-md-4 tricks-img"></div>
	</div>
	<div class="row">
		<div class="col-md-8 tricks-txt">
			<p class="display-4">Trick #4</p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
		</div>
		<div class="col-md-4 tricks-img"></div>
	</div>
	<div class="row">
		<div class="col-md-8 tricks-txt">
			<p class="display-4">Trick #5</p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
		</div>
		<div class="col-md-4 tricks-img"></div>
	</div>
	<div class="row">
		<div class="col-md-8 tricks-txt">
			<p class="display-4">Trick #6</p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
		</div>
		<div class="col-md-4 tricks-img"></div>
	</div>
<% include ../partials/footer.ejs %>